/* BASIC STYLES HERE */


:root {

  --dark: #1F1D38;
  --card: #282546;
  --muted: #7B89D2;

}

body {
  background-color: var(--dark);
  color: white;
}

.bg-muted {
  background-color: var(--muted);
}

.bg-card {
  background-color: var(--card);

}

.activeCard {
  min-height: 90vh;
  border-radius: 5px;
  padding: .5em;
}

.pageCard {
  min-height: 90vh;
}

p,
h1 {
  margin-bottom: unset;
}

.text-muted {
  color: var(--muted);
}